<%- include('../../partials/header.ejs', {title: '500 internal server error'}) %>

<div class="container">
  <h1 class="display-2 text-center text-warning ">500 Internal Server Error!</h1>
</div>

</body>
</html> 