<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/asset/logo.png" alt="logo" width="50" height="auto">
      <span class="h5">Products Listing</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (isLoggedIn) { %>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/shop/allproducts">All Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Food
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/product/food">All foods</a></li>
              <li><a class="dropdown-item" href="/product/food/add-product">Add foods</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Medicine
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/product/medicine">All medicines</a></li>
              <li><a class="dropdown-item" href="/product/medicine/add-product">Add medicines</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Beauty & Makeup
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/product/beauty">All beauties & makeup</a></li>
              <li><a class="dropdown-item" href="/product/beauty/add-product">Add beauties & makeup</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/shop">View shop</a>
              </li>
              <li><a class="dropdown-item" href="/shop/edit-shop">Edit shop</a></li>
              <li><a class="dropdown-item" href="#">Change password</a></li>
              <li><a class="dropdown-item text-dark" href="/auth/logout">Log Out</a>
              </li>
            </ul>
          </li>
        <% }else{ %>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/allproducts">All Products</a>
            <!-- this all products navigation for general user which will work to show all products from all shops. -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Foods</a>
              </li>
              <li><a class="dropdown-item" href="#">Beauties & Makeup</a></li>
              <li><a class="dropdown-item" href="#">Medicienes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/auth/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/auth/login">Log In</a>
          </li>
        <% } %> 
      </ul>
      <% if (isLoggedIn) { %>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      <% } %>
    </div>
  </div>
</nav>