<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/asset/logo.png" alt="logo" width="50" height="auto">
      <span class="h5">Products Listing</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (isLoggedIn) { %>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/shop/allproducts">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/auth/logout">Log Out</a>
          </li>
        <% }else{ %>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/allproducts">All Products</a>
            <!-- this all products navigation for general user which will work to show all products from all shops. -->
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/auth/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/auth/login">Log In</a>
          </li>
        <% } %> 
      </ul>
      <% if (isLoggedIn) { %>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      <% } %>
    </div>
  </div>
</nav>