<%- include('../../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <h2>Welcome to shop</h2>
    </div>
  </div>
</div>

<script src="/scripts/shopImgsValidation.js"></script>
</body>
</html>