<%- include('../../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-secondary">All products</h4>
        </div>
        <div class="card-body" id="wrapper"> 
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/allProducts_Client.js"></script>
</body>
</html>